* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "outfit";
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 70px;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 10;
  background: rgba(7, 7, 7, 0.927);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.navbar .image {
  width: 80px;
  height: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  cursor: pointer;
}

.nav-menu li {
  transition: all 0.5s ease;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.nav-connect {
  padding: 15px 25px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 1180px) {
  .navbar {
    margin: 0 70px;
  }
}

@media (max-width: 1120px) {
  .navbar {
    margin: 20px 50px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    z-index: 1;
    right: 30px;
    width: 40px;
    height: 40px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 40px;
    height: 40px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start !important;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 60px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 638px) {
  .navbar {
    margin-bottom: 30px;
  }

  .navbar .image {
    margin-top: 0px;
    width: 43px;
    height: 43px;
  }

  .nav-mob-open {
    width: 23px;
    height: 23px;
  }

  .nav-mob-close {
    /* display: block;
    position: relative; */
    top: 30px;
    left: 200px;
    width: 23px;
    height: 23px;
  }
  .nav-menu {
    gap: 15px;
    width: 250px;
  }

  .nav-menu li {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    margin: 20px 30px;
    gap: 80px;
  }

  .nav-menu {
    gap: 50px;
  }
}
